<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Hangman</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            </p>
            <ul class="nav">
              <li><a href="#"><i class="icon-home icon-white"></i>Home</a></li>
              <li class="active"><a href="#about">&Uuml;ber uns</a></li>
              <li><a href="#hangman"><i class="icon-play icon-white"></i>Spielen</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
		
		<div class="row">
			<div class="span11 offset2">
					<div class="hero-unit">
						<h1>Hangman</h1>
							<p>
							Hangman wurde mit folgenden mitteln realisiert:<br>
							<a href="http://twitter.github.com/bootstrap/index.html">Twitter Bootstrap</a><br>
							<a href="http://nodejs.org/">Node.js</a><br>
							<a href="http://backbonejs.org/">Backbone.js</a>
							</p>
					</div>
			</div>
		</div>