		<center><h1><div id="nickname"></div></h1></center>
		<div class="row-fluid">
			<div class="row-fluid">
				<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
					<a href="#hangman" class="btn btn-large btn-primary btn-block" onclick="GenerateWord()">Wort generieren</a>
					</ul>
				</div>
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<input class="input-block-level" id="guess" type="text" placeholder="Buchstaben eingeben">
						<a href="#hangman" class="btn btn-large btn-primary btn-block" onclick="FindLetter()">Raten</a>
					</ul>
				</div>
				</div>
				<div class="span9">
					<div class="hero-unit" id="bgher">
						<h1>
							<center><div id="EncodedWord"></div></center>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					<center><h1>Statistiken</h1></center>
					<center>Aktuelle Runde</center><br>
					<table class="table">
						<tr>
							<center>
							<th>Versuche</th>
							<th>Falsch</th>
							<th>Richtig</th>
							</center>
						</tr>
						<tr>
							<th><div id="try"></div></th>
							<th><div id="fail"></div></th>
							<th><div id="acc"></div></th>
						</tr>
					</table>
					<hr>
					<center>Insgesamt</center><br>
					<table class="table">
						<tr>
							<center>
							<th>Versuche</th>
							<th>Falsch</th>
							<th>Richtig</th>
							</center>
						</tr>
						<tr>
							<th><div id="totaltry"></div></th>
							<th><div id="totalfail"></div></th>
							<th><div id="totalacc"></div></th>
						</tr>
						<tr>
							<center>
							<th></th>
							<th>Wörter</th>
							</center>
						</tr>
						<tr>
							<th>Richtig</th>
							<th></th>
						</tr>
						<tr>
							<th>Falsch</th>
							<th></th>
						</tr>
						<tr>
							<th>Ausgelassen</th>
							<th></th>
						</tr>
						<tr>
							<th>Gesamt</th>
							<th></th>
						</tr>
					</table>
				</div>
			</div>
			<div class="span9">
				<div class="hero-unit">
					<center><h2>Erweiterte Optionen</h2></center>
					Wort aus folgenden Kategorien raten:<br>
					<center>
						<table border="0px" width="800px">
							<tr>
								<td>
									<a href="#hangman" class="btn btn-large btn-primary btn-block" onclick="GenerateWord_games()">Games</a>
								</td>
								<td>
									<a href="#hangman" class="btn btn-large btn-primary btn-block" onclick="GenerateWord_browser()">Webbrowser</a>
								</td>
								<td>
									<a href="#hangman" class="btn btn-large btn-primary btn-block" onclick="GenerateWord()">Wort generieren</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#hangman" class="btn btn-large btn-primary btn-block" onclick="GenerateWord()">Wort generieren</a>
								</td>
								<td>
									<a href="#hangman" class="btn btn-large btn-primary btn-block" onclick="GenerateWord()">Wort generieren</a>
								</td>
								<td>
									<a href="#hangman" class="btn btn-large btn-primary btn-block" onclick="GenerateWord()">Wort generieren</a>
								</td>
							</tr>
						</table>
					</center>
				</div>
			</div>
		</div>